In [ ]:
Matrix Plots
Matrix plots allow you to plot data as color-encoded matrices and can also be used to indicate clusters within the data (later in the machine learning section we will learn how to formally cluster data).

We will see below Map
Heatmap
clustermap
along with this we will see
Co-relation data
pivot_table
Let's begin by exploring seaborn's heatmap and clutermap:

In [1]:
import seaborn as sns 
%matplotlib inline

In [2]:
print(sns.utils.get_data_home())

C:\Users\krish\AppData\Local\seaborn\seaborn\Cache

In [5]:
tips=sns.load_dataset('tips')

In [7]:
flights = sns.load_dataset('flights')

In [9]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

<h2>Heatmap</h2>
<p>In order for a heatmap to work properly, your data should already be in a matrix form, the sns.heatmap function basically just colors it in for you. Index name and column name must be match relevant</p>

In [15]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
numeric_data = tips.select_dtypes(include=['float64', 'int64'])
correlation_matrix = numeric_data.corr()
print(correlation_matrix)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [44]:
from sklearn.preprocessing import LabelEncoder

tips['sex_encoded'] = LabelEncoder().fit_transform(tips['sex'])
tips['smoker_encoded'] = LabelEncoder().fit_transform(tips['smoker'])
tips['day_encoded'] = LabelEncoder().fit_transform(tips['day'])
tips['time_encoded'] = LabelEncoder().fit_transform(tips['time'])

In [46]:
encoded_data = tips.select_dtypes(include=['float64', 'int64'])
correlation_matrix = encoded_data.corr()
print(correlation_matrix)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

<h3>Corelation data

In [52]:
####tips.corr()

In [26]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [54]:
### sns.heatmap(tips.corr())

In [56]:
###tc=tips.corr()
###sns.heatmap(tc,annot=True)

In [58]:
###<matplotlib.axes._subplots.AxesSubplot at 0x1ca3c1e4a20>

In [ ]:
####Totally it is receiving error.. to retry.. Not important this plot also..